textarea {
  resize: none;
}

* {
  text-align: center !important;
  margin: auto !important;
  align-items: center;
  justify-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

#track {
  background-color: #04AA6D;
  color: white;
  border-radius: 2px;
  border-color: grey;
  vertical-align: middle;
  text-align: center;
}

#endTrack {
  background-color: maroon;
  color: white;
  border-radius: 2px;
  border-color: grey;
  vertical-align: middle;
  text-align: center;
}

#errorHandle {
  color: red;
  font-weight: bold;
}